@import "variables";

html{
    height: 100%;
    margin: 0;
  body{
      height: 100%;
      margin: 0;
      background: #f4f4f9
  }
}

.content{
    @include font;
    padding: 10px 60px;
    text-align: center;
}

#tag:link, #tag:visited{
    @include font;
    color: $every_color;
    text-decoration: none;
  }


  .card{
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    background: black;
    color: white;
  
    
    @media only screen and (max-width: 350px){
        width: 5rem;
        font-size: 10px;
    }

    @media only screen and (max-width: 800px){
        width: 40%;
        font-size: 11px;
    }
}
