@import "variables";

html{
    height: 100%;
    margin: 0;
  body{
      height: 100%;
      margin: 0;
      background: #f4f4f9
  }
}

.content{
    @include font;
    padding: 10px 60px;
    text-align: center;
}

#tag:link, #tag:visited{
    @include font;
    color: $every_color;
    text-decoration: none;
  }


  .card{
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    background: black;
    color: white;
  
    
    @media only screen and (max-width: 350px){
        font-size: 13px;
    }

    @media only screen and (max-width: 800px){
        font-size: 13px;
    }
}

h1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
